<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>LA-Factory</title>
<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
	integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
	crossorigin="anonymous">
<meta charset="utf-8">
</head>
<body>
	<h2>Ajout d'une catégorie)</h2>
	<nav th:replace="navigation.html"></nav>
	<form method="post">

		<div class="input-group mb-3">
			<div class="input-group-prepend">
				<span class="input-group-text" id="basic-addon3">Nom :</span>
			</div>
			<input type="text" name="nom" th:value="${categorie?.nom}">
		</div>

		<div class="input-group mb-3">
			<div class="input-group-prepend">
				<span class="input-group-text" id="basic-addon3">Parent :</span>
			</div>
			<select name="parent">
				<option value="0">Pas de parent</option>
				<option th:each="cat : ${categories}" th:value="${ cat.id }"
					th:text="${ cat.nom }"></option>
			</select>
		</div>


		<div>
			<button class="btn btn-success" type="submit"
				th:if="${categorie.id==0}">add me !</button>
			<button class="btn btn-info" type="submit" th:if="${categorie.id!=0}">mod
				me !</button>
		</div>
	</form>
</body>
</html>