<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>LA-Factory Utilisateur</title>
<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
	integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
	crossorigin="anonymous">
<meta charset="utf-8">
</head>

<body>
	<nav th:replace="navigation.html"></nav>
	<h2>Liste des utilisateurs ayant un accès.</h2>
	<div class="container">
	<table class="table table-striped">
		<thead class="thead-dark">
			<tr>
				<th scope="col">Nom</th>
				<th scope="col">Prenom</th>
				<th scope="col">Mail</th>
				<th scope="col">Role</th>
				<th scope="col">Password</th>
				<th scope="col"></th>
				<th scope="col"></th>
			</tr>

			</thead>
			<tbody>

				<tr th:each="utilisateur: ${utilisateurs}">
					<td scope="row" th:text="${utilisateur.nom}"></td>
					<td scope="row" th:text="${utilisateur.prenom}"></td>
					<td scope="row" th:text="${utilisateur?.mail}"></td>
					<td scope="row" th:text="${utilisateur.role}"></td>
					<td scope="row" th:text="${utilisateur?.password}"></td>
			<tr th:each="utilisateur: ${utilisateurs}">
				<td scope="row" th:text="${utilisateur.nom}"></td>
				<td scope="row" th:text="${utilisateur.prenom}"></td>
				<td scope="row" th:text="${utilisateur?.mail}"></td>
				<td scope="row" th:text="${utilisateur.role}"></td>
				<td scope="row" th:text="${utilisateur?.password}"></td>


					<td><a class="btn btn-warning" href="edit"
						th:href="@{editUtilisateur(id=${utilisateur.id})}"> Editer</a></td>
					<td><a class="btn btn-danger" href="sup"
						th:href="@{supUtilisateur(id=${utilisateur.id})}"> Supprimer</a></td>

			</tr>
		</tbody>
	</table>
</div>
<a href=ajoutUtilisateur class="btn btn-success">Creer un utilisateur</a>




</body>
</html>