<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta name="description"
	content="Dépensez ici votre argent en toute impunité." />
<meta charset="UTF-8" />

<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
	integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
	crossorigin="anonymous" />

<title>LA-Factory modele</title>

</head>

<body>
	<nav th:replace="navigation.html"></nav>
	<h2>Les modèles disponibles</h2>


	<div class="container">

		<table class="table table-striped">
			<thead class="thead-dark">
				<tr>
					<th></th>
					<th>ID</th>
					<th>Catégories</th>
					<th>Niveau de difficulté</th>
					<th>Temps de construction</th>
					<th>Quantité de bois</th>
					<th>Etapes</th>
					<th>Note</th>
					<th>Modèle activé sur site
					<th></th>
					<th></th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="modele : ${ modeles }">
					<td><b>[[${ modele.nom }]]</b></td>
					<td>[[${ modele.id }]]</td>
					<td>
						<ul th:each="categorie : ${ modele.categories }">
							<li>[[${categorie.nom }]]</li>
							<li th:if="categorie.parent.id!=null"
								th:each="categorie : ${categorie.parent}">[[${categorie.nom
								}]]</li>
						</ul>
					</td>
					<td>[[${ modele.niveau }]]</td>
					<td>[[${ modele.temps }]] minutes</td>
					<td>[[${ modele.bois}]] bûches</td>
					<td></td>
					<td></td>
					<td th:if="${modele?.activation == true }"><a
						th:href="@{ swipe(id=${ modele.id })  }" type="button"
						class="btn btn-success"><b>Oui</b></a> <b>Non</b></td>
					<td th:if="${modele?.activation == false }"><b>Oui</b> <a
						th:href="@{ swipe(id=${ modele.id })  }" type="button"
						class="btn btn-danger"><b>Non</b></a></td>
					<td th:if="${modele?.activation == null}"><b>Oui</b> <a
						th:href="@{ swipe(id=${ modele.id })  }" type="button"
						class="btn btn-danger"><b>Non</b></a></td>
					<th><a th:href="@{ editerModele(id=${ modele.id })  }"
						type="button" class="btn btn-warning">Editer</a></th>
					<th><a th:href="@{ deleteModele(id=${ modele.id })  }"
						type="button" class="btn btn-danger">Supprimer</a></th>
				</tr>
			</tbody>
		</table>
		<div class="container">
			<form method="POST">
				<div class="input-group mb-3">
					<div class="input-group-prepend">
						<span class="input-group-text" id="basic-addon3">Nom du
							modèle :</span>
					</div>

					<input type="text" name="nom" th:value="${ modele?.nom }" />
				</div>

				<div class="input-group mb-3">
					<div class="input-group-prepend">
						<span class="input-group-text" id="basic-addon3">Niveau de
							difficulté du modèle:</span>
					</div>

					<select name="niveau">
						<option th:value="Normal">Normal</option>
						<option th:value="Avance">Avancé</option>
						<option th:value="Expert">Expert</option>
					</select>

				</div>

				<div class="input-group mb-3">
					<div class="input-group-prepend">
						<span class="input-group-text" id="basic-addon3">Temps de
							construction du modèle:</span>
					</div>

					<input type="number" name="temps" th:value="${ modele?.temps }" />
				</div>



				<div class="input-group mb-3">
					<div class="input-group-prepend">
						<span class="input-group-text" id="basic-addon3">Quantité
							de bûche nécessaires:</span>
					</div>
					<input type="number" name="bois" th:value="${ modele?.bois }" />
				</div>

				<div>
					<button th:if="${ modele?.id == null }" type="submit"
						class="btn btn-primary">Ajouter</button>
					<button th:if="${ modele?.id != null }" type="submit"
						class="btn btn-primary">Editer</button>
				</div>
			</form>
		</div>
	</div>
</body>