<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>LA-Factory</title>
<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
	integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
	crossorigin="anonymous">
<meta charset="UTF-8">
</head>

<body>
	<nav th:replace="navigation.html"></nav>
	<table class="table table-striped">
		<thead>
			<tr>
				<th>Nom</th>
				<th>Prenom</th>
				<th>Mail</th>
				<th>Role</th>
			</tr>

		</thead>
		<tbody>

			<tr th:each="utilisateur: ${utilisateurs}">
				<td th:text="${utilisateur?.nom}"></td>
				<td th:text="${utilisateur?.prenom}"></td>
				<td th:text="${utilisateur?.mail}"></td>
				<td th:text="${utilisateur?.role}"></td>


				<td><a class="btn btn-warning"> editer</a></td>
				<td><a class="btn btn-danger"> supprimer</a></td>

			</tr>
		</tbody>
	</table>



	<form method="post">
	
		<div>
			nom : <input type="text" name="util_nom"
				th:value="${utilisateur?.nom}">
		</div>
		<div>
			prenom : <input type="text" name="util_prenom"
				th:value="${utilisateur?.prenom}">
		</div>
		<div>
			mail : <input type="text" name="util_mail"
				th:value="${utilisateur?.mail}">
		</div>
		<div>
			role : <input type="text" name="util_role"
				th:value="${utilisateur?.role}">
		</div>
		
		
		
		<div>
			<button type="submit" th:if="${utilisateur?.id==0}">ajouter</button>
			<button type="submit" th:if="${utilisateur?.id!=0}">modifier</button>
		</div>
	</form>



</body>
</html>