<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>Bienvenue sur LA Factory</title>
<meta charset="UTF-8" />
<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
	integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
	crossorigin="anonymous" />
	
<meta name="viewport" content="width=devide-width, initial-scale=1" />

</head>

<body>
	<nav th:replace="navigation.html"></nav>
	<h1>Bienvenue sur le site de gestion de LA Factory.</h1>
</body>