<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>LA-Factory</title>
<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
	integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
	crossorigin="anonymous">
<meta charset="utf-8">
</head>

<body>
	<nav th:replace="navigation.html"></nav>
	<h1>Nom du modèle : [[${modele.nom}]]</h1>

	<table class="table table-striped">
		<thead>
			<tr>
				<th>Titre</th>
				<th>Description</th>
				<th>Numero</th>
				<th>Lien</th>

			</tr>

		</thead>
		<tbody>

			<tr th:each="eta: ${etapes}">
				<td th:text="${eta.titre}"></td>
				<td th:text="${eta.description}"></td>
				<td th:text="${eta.numero}"></td>
				<td th:text="${eta.lien}"></td>




				<td><a class="btn btn-warning"
					th:href="@{editModeleEtape(id=${eta.id})}"> Editer</a></td>
				<td><a class="btn btn-danger"
					th:href="@{supModeleEtape(id=${eta.id})}"> Supprimer</a></td>

			</tr>
		</tbody>
	</table>

	<form method="post">

		<div class="input-group mb-3">
			<div class="input-group-prepend">
				<span class="input-group-text" id="basic-addon3">Titre :</span>
			</div>
			<input type="text" name="titre" th:value="${etape.titre}"
				aria-describedby="basic-addon3">
		</div>

		<div class="input-group mb-3">
			<div class="input-group-prepend">
				<span class="input-group-text" id="basic-addon3">Description
					:</span>
			</div>
			<input type="text" name="description" th:value="${etape.description}"
				aria-describedby="basic-addon3">
		</div>



		<div class="input-group mb-3">
			<div class="input-group-prepend">
				<span class="input-group-text" id="basic-addon3">Numéro :</span>
			</div>
			<input type="text" name="numero" th:value="${etape.numero}"
				aria-describedby="basic-addon3">
		</div>

		<div class="input-group mb-3">
			<div class="input-group-prepend">
				<span class="input-group-text" id="basic-addon3">Lien :</span>
			</div>
			<input type="text" name="lien" th:value="${etape.lien}"
				aria-describedby="basic-addon3">
		</div>



		<div>
			<button class="btn btn-success" type="submit" th:if="${etape?.id==0}">add
				me ! </button>
			<button class="btn btn-info" type="submit" th:if="${etape?.id!=0}">mod
				me !</button>
		</div>
	</form>
</body>
</html>