<body class="bg-light">

<div class="container">
    <div class="py-5 text-center">  
      <div class="header">

        <h2 *ngIf="srvModel.models.length == 0">Aucun résultat pour "{{nom}}"</h2>
        <h2 *ngIf="srvModel.models.length > 0">Résultats pour : "{{nom}}"</h2>

      </div>
     

      <div class="col-md-12">
        <!-- <iframe style="width: 100%" src="http://localhost:4200/listemodele"></iframe> -->
        <table class="table ">
            <thead>
                <tr>
                    <th>  </th>
                    <th> CODE </th>
                    <th> NOM DU MODELE </th>
                    <th> TEMPS DE REALISATION </th>
                    <th> NIVEAU </th>
                    <th> NOTE </th>
                    <th>  </th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let m of srvModel.models">
                    <td> <img src="https://static.alipson.fr/m120/p191120/p1_FULL.jpg">  </td>
                    <td> {{m.id}} </td>
                    <td> {{m.nom}} </td>
                    <td> {{m.temps}} min </td>
                    <td> {{m.niveau}} </td>
                    <td> {{m.note}} </td>
                    <td> <a class="btn btn-warning" [routerLink]="['/modele', m.id]"> Lien vers le modèle </a> </td>
                </tr>
            </tbody>
        
        </table>
      </div>
    
    </div>
  

    

    <div class="row">
      
      <div class="col-md-12">
        <h4 class="mb-3">Recherche avancée</h4>
        

        
        
        <form>
         <div class="mb-3">
            <div class="input-group">
              <div class="input-group-prepend">
                <span class="input-group-text">Nom du modèle
                </span>
              </div>
              <input type="text" class="form-control">
            </div>
          </div>

          <div class="mb-3">
            <div class="input-group">
              <div class="input-group-prepend">
                <span class="input-group-text">Code du modèle
                </span>
              </div>
              <input type="text" class="form-control">
            </div>
          </div>

          <div class="mb-3">
            <div class="input-group">
              <div class="input-group-prepend">
                <span class="input-group-text">Catégorie     
                </span>
              </div>
              <select class="custom-select d-block w-100" id="country" required>
                <option value="">Choisissez...</option>
                <option>Plateaux de jeu</option>
                <option>Avions</option>
                <option>Animaux</option>
              </select>
            </div>
          </div>

          <div class="mb-3">
            <div class="input-group">
              <div class="input-group-prepend">
                <span class="input-group-text">Temps de réalisation         
                </span>
              </div>
              <select class="custom-select d-block w-100" id="country" required>
                <option value="">Choisissez...</option>
                <option>Inférieur à  10 min</option>
                <option>Inférieur à  30 min</option>
                <option>Supérieur à  30 min</option>
              </select>
            </div>
          </div>

          <div class="mb-3">
            <div class="input-group">
              <div class="input-group-prepend">
                <span class="input-group-text">Niveau      
                </span>
              </div>
              <select class="custom-select d-block w-100" id="country" required>
                <option value="">Choisissez...</option>
                <option>Occasionnel</option>
                <option>Normal</option>
                <option>Avancé</option>
                <option>Expert</option>
              </select>
            </div>
          </div>

          <div class="mb-3">
            <div class="input-group">
              <div class="input-group-prepend">
                <span class="input-group-text">Bois nécessaire      
                </span>
              </div>
              <select class="custom-select d-block w-100" id="country" required>
                <option value="">Choisissez...</option>
                <option>Peu</option>
                <option>Normal</option>
                <option>Beaucoup</option>
              </select>
            </div>
          </div>

          <div class="mb-3">
            <div class="input-group">
              <div class="input-group-prepend">
                <span class="input-group-text">Note 
                </span>
              </div>
              <select class="custom-select d-block w-100" id="country" required>
                <option value="">Choisissez...</option>
                <option>1</option>
                <option>2</option>
                <option>3</option>
                <option>4</option>
                <option>5</option>
              </select>
            </div>
          </div>

  
          
          <hr class="mb-4">
  
          
   
          <button class="btn btn-warning btn-lg btn-block" type="submit">Lancer la recherche</button>
        </form>
      </div>
    </div>
  
  </div>

</body>