<body class="bg-light">

    <div class="container">
      <div class="header">
      <div class="py-5 text-center">
        <div class="texte">
          <h2>Boîte à idées</h2>
          <p class="lead">Vous voulez un modèle particulier ? Remplissez le formulaire ci-dessous pour en faire la demande !</p>
        </div>
       
      </div>
    </div>

      <div class="row">
       
        <div class="col-md-12">
          <h4 class="mb-3">Vos coordonnées</h4>
          <form class="needs-validation was-validated" novalidate>
            <div class="row">
              <div class="col-md-6 mb-3">
                <label>Prénom</label>
                <input type="text" class="form-control" [(ngModel)]="idee.prenom" name="prenom" placeholder="Michel"required>
                <div class="invalid-feedback">
                    Entrez un prénom
                  </div>
              </div>
              <div class="col-md-6 mb-3">
                <label>Nom</label>
                <input type="text" class="form-control" [(ngModel)]="idee.nom" name="nom" placeholder="Dupont" value="" required>
                <div class="invalid-feedback">
                  Entrez un nom
                </div>
              </div>
            </div>

            

            <div class="mb-3">
              <label>Email</label>
              <input type="email" class="form-control" [(ngModel)]="idee.mail" name="mail" placeholder="adresse@email.fr" required>
              <div class="invalid-feedback">
                Entrez une adresse email
              </div>
            </div>


            <hr class="mb-4">
            <h4 class="mb-3">Votre suggestion</h4>

            <div class="mb-3">
             
                <textarea class="form-control" [(ngModel)]="idee.message" name="message" placeholder="Quelle est votre idée de modèle ?" rows="4" required></textarea>
                <div class="invalid-feedback">
                    Ecrivez votre suggestion
                  </div>
            </div>
           
           
            <hr class="mb-4">
            <button class="btn btn-warning btn-lg btn-block" (click)="ajouterIdee(idee)">Soumettez votre suggestion</button>
          </form>
        </div>
      </div>

    
    </div>

</body>