<header>
    <h1>{{srvModel.model.nom}}</h1>
</header>


<img [src]=""/>

<main>
    <section>

    </section>
    <section>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>TEMPS</th>
                    <th>NIVEAU</th>
                    <th>BOIS</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>{{srvModel.model.temps}} min</td>
                    <td>{{srvModel.model.niveau}}</td>
                    <td>{{model.bois}}</td>
                </tr>
            </tbody>
        </table>
    </section>

    <section>
        <table class="table table-striped">
            <tbody>
                <tr *ngFor="let e of srvModel.model.etapes">
                    <td>{{e.numero}}</td>
                    <td>{{e.description}}</td>
                </tr>
            </tbody>
        </table>
    </section>
    
    
</main>




