


<div class="container">
    <div class="py-5 text-center">
        <div class="header">
            <h3>&#183;</h3>
            <h2> {{srvModel.model.nom}}</h2>
            <table class="table borderless" id="tableau">
                <thead>
                    <tr>
                        <th>TEMPS</th>
                        <th>NIVEAU</th>
                        <th>BOIS NECESSAIRE</th>
                        <th>NOTE</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>{{srvModel.model.temps}} min</td>
                        <td>{{srvModel.model.niveau}}</td>
                        <td>{{srvModel.model.bois}} bûches</td>
                        <td>{{srvModel.model.noteMoyenne}}</td>
                    </tr>
                </tbody>
            </table>
            <h3>&#183;</h3>
        </div>
    </div>
    <div class="col-md-14">
        <div class="py-5 text-center">
        <img src="https://images-na.ssl-images-amazon.com/images/I/71aRq-GJtoL._AC_SL1000_.jpg"/>
    </div>

    </div>
        
        
      <div class="col-md-14">
        <!-- <iframe style="width: 100%" src="http://localhost:4200/listemodele"></iframe> -->
        <div class="py-5 text-center">
        

        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Etape</th>
                    <th>Titre</th>
                    <th>Description</th>
                    <th>Video</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let e of srvModel.model.etapes">
                    <td>{{e.numero}}</td>
                    <td>{{e.titre}}</td>
                    <td>{{e.description}}</td>
                    <td>{{e.lien}}</td>
                </tr>
            </tbody>
        </table>

    </div>
        <!-- 
        
-->
      <hr class="mb-4">
        <h4 class="mb-3">Donnez votre avis !</h4>
    
      <form class="needs-validation  was-validated" novalidate>
        <div class="row">
          <div class="col-md-6 mb-3">
            <label>Prénom</label>
            <input type="text" class="form-control" [(ngModel)]="note.prenom" name="prenom" placeholder="Michel"required>
            <div class="invalid-feedback">
                Entrez un prénom
            </div>
          </div>
          <div class="col-md-6 mb-3">
            <label for="lastName">Nom</label>
            <input type="text" class="form-control" [(ngModel)]="note.nom" name="nom" placeholder="Dupont" required>
            <div class="invalid-feedback">
                Entrez un nom
            </div>
          </div>
        </div>

        

        <div class="mb-3">
          <label for="email">Email</label>
          <input type="email" class="form-control" [(ngModel)]="note.mail" name="mail" placeholder="adresse@email.fr" required>
          <div class="invalid-feedback">
            Entrez une adresse email
          </div>
        </div>


        <hr class="mb-4">
        <h4 class="mb-3">Votre commentaire</h4>

        <div class="mb-3">
         
            <textarea class="form-control" [(ngModel)]="note.commentaire" name="commentaire" placeholder="Laissez votre commentaire" rows="4" required></textarea>
            <div class="invalid-feedback">
                Ecrivez votre commentaire
              </div>
        </div>

        <h4 class="mb-3">Votre note</h4>
        <div class="mb-3">
         
            <select [(ngModel)]="note.valeur" name="valeur">
                <option value="0">0</option>
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5">5</option>
              </select>
              
        </div>
       
       
        <hr class="mb-4">
        <button class="btn btn-warning btn-lg btn-block" (click)="ajouterNote(note)">Notez ce modele</button>
      </form>

      <hr class="mb-4">

      <table class="table table-striped">
        <thead>
            <tr>
                <th>Prenom</th>
                <th>Note</th>
                <th>Commentaire</th>
               
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let n of srvNote.notes">
                <td>{{n.prenom}}</td>
                <td>{{n.valeur}}</td>
                <td>{{n.commentaire}}</td>
            </tr>
        </tbody>
    </table>

  </div>
    
</div>